.footer {
  background-color: #b40000;
  color: #fff;
  border-top: 2px solid #fff;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  margin-top: 5px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  font-weight: bold;
}

.footer-links a:hover {
  color: #ffdcdc;
  text-decoration: underline;
}