.detail-box {
  margin-top: 35px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.07);
}

.detail-box h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #444444;
  border-left: 5px solid #b40000;
  /* UD Trucks Red */
  padding-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

thead tr {
  background: #f6f6f6;
}

thead th {
  padding: 12px;
  border-bottom: 2px solid #dcdcdc;
  text-align: left;
  color: #444;
  font-weight: 600;
  font-size: 15px;
}

tbody tr {
  border-bottom: 1px solid #eeeeee;
}

tbody tr:nth-child(even) {
  background: #fafafa;
}

tbody td {
  padding: 12px;
  font-size: 15px;
  color: #333;
}

.status-badge {
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 600;
  display: inline-block;
}

.status-running {
  background: #e8f5e9;
  color: #2e7d32;
}

.status-stopped {
  background: #ffebee;
  color: #c62828;
}

.status-warning {
  background: #fff8e1;
  color: #f9a825;
}